name: Generate GitHub Profile Summary Cards

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Generate summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@v0.3.3
        with:
          USERNAME: RicardoAlejandroSantillan
          THEME: github_dark
      - name: Commit summary cards
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update summary cards"
          file_pattern: "profile-summary-card-output"
